i.icon_tooltip:before {
  content: '[?]';
}

.icon_tooltip:hover span{
  display: none;
}

.icon_tooltip:hover span{
  display: inline-block;
  margin-left: -19pt;
  background: none repeat scroll 0% 0% #EDEDED;
  text-decoration: underline;
  font-style: normal;
}

.hover-swap>*:nth-child(1) {
  display: inline;
}
.hover-swap>*:nth-child(2) {
  display: none;
}
.hover-swap:hover >*:nth-child(1){
  display: none;
}
.hover-swap:hover >*:nth-child(2){
  display: inline;
}

.search td {
  font-size: 11px;
  max-width: 150px;
}
.search td input {
  max-width: 135px;
}
.search td input[name="saved_search_submit"] {
  display: block;
}

div.image-miniature {
  display: inline-block;
  margin: 2px;
}

div.image-miniature:hover {
  position: fixed;
  top: 0;
  height: 100%;
  min-height: 100%;
  width: 75%;
}

img.image-miniature {
  max-width: 48px;
  max-height: 48px;
}
div.image-miniature:hover img{
  max-height: 100%;
  min-height: 100%;
  position: static;
  margin: 0 auto;
  max-width: 100%;
}

